<h1>New comment on your post: <%= @post.title %></h1>

<p>
  <%= @comment.user.email %> has been commented on your post: <strong><%= @comment.message %>
</p>
<p>
  Post link: <%= link_to @post.title, post_path(@post) %>
  </p>